body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.item-list {
    margin: 20px;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    width: 400px;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
}

.dropdown-container {
    position: relative;
    margin-right: 10px;
}

.dropdown-btn {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 8px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.delete-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer; 
    margin-left: 10px;
}
