/* container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

.link-block {
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 200px;
    transition: background-color 0.4s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-block:hover {
    background-color: #C0E0A5;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}